.string-input-config {
	display: flex;

	input[type='text'] {
		border: none;
		border-bottom: 3px solid gray;
		border-radius: 3px;
		padding: 0.5rem 1rem;
		outline: none;
		background: $backgroundDark;
		color: $text-color;
		flex: 0 1 25rem;

		&.has-error {
			border-bottom-color: $error;
		}
	}
}
