.boardElement {
  vertical-align: bottom;
  text-align: center;
  display: inline-block;
  height: calc(100% / 6);
  width: calc((100% - (10*5px)) / 5);
  margin: 0 5px 10px 5px;

  .guessButton {
    width: 45px;
    height: 25px;
    position: relative;
    left: 75px;
    background-color: aliceblue;
  }

  .boardElementContent {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    height: 100%;
    width: 100%;
    font-size: 30px;
    padding-bottom: 45px;
    word-break: break-word;
    word-wrap: break-word;
    overflow-wrap: break-word;
    letter-spacing: 0;
  }

  .longWord10 {
    font-size: 28px;
  }

  .longWord11 {
    font-size: 26px;
  }

  .longWord12 {
    font-size: 24px;
  }

  .longWord13 {
    font-size: 23px;
  }

  .longWord14 {
    font-size: 22px;
  }

  .longWord15 {
    font-size: 21px;
  }

  .longWord16 {
    font-size: 20px;
  }
}

.boardElement:hover {
  cursor: pointer;
}

.board {
  height: 100%;
  width: calc(100% - 10px);
  margin: 0 5px;

  .inputBar {
    margin: 5px 5px 0 5px;
    height: calc(100% / 10);
    width: 100%;

    .hintButton, .stopGuessingButton {
      height: 100%;
      width: calc((100% - 75% - 10px) / 2);
      padding: 0;
      vertical-align: bottom;
    }

    .hintNumber {
      height: 100%;
      width: calc((100% - 75% - 10px) / 2);
      padding: 0;
      font-size: 30px;
      text-align: center;
    }

    .hintInput {
      margin: 0 5px 0 5px;
      height: 100%;
      width: calc(100% - 25% - 10px);
      font-size: 30px;
      text-align: center;
    }
  }
}