.teamView {
  height: calc((100% - 40px) / 3);
  padding: 10px 10px 5px 10px;
  margin-bottom: 20px;
}

.header {
  display: inline-block;
  height: calc(25% - 10px);
  margin-bottom: 10px;
  width: 100%;
}

.spymaster {
  display: inline-block;
  width: 90%;
  height: 100%;
}

.wordsLeft {
  display: inline-block;
  width: 10%;
  height: 100%;
  font-size: 30px;
  vertical-align: sub;
}

.roleList {
  background: aliceblue;
  width: 100%;
  color: black;
  margin-bottom: 10px;

  span {
    padding: 5px;
  }
}

.textCenter {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.textCenter.right {
  text-align: end;
}
.textCenter.left {
  text-align: start;
}

.roleList.spymaster {
  height: 100%;
}

.roleList.investigators {
  height: calc(75% - 10px);
}