.game-wheel {
	height: 90%;
	//background: red;
	aspect-ratio: 1;
	position: relative;
	border-radius: 50%;
	margin: 0 5rem;

	.wheel-background {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		border-radius: 50%;
		transition: transform 20ms linear;
		box-shadow: 0 0 2rem #311709;
		filter: saturate(1.5) brightness(0.7) contrast(1.3);
	}

	.wheel-content {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		width: 64%;
		aspect-ratio: 960/720;
		background-size: contain;
		padding: 1rem;
		display: flex;
		justify-content: center;
		align-items: center;

		// with blurred background
		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			filter: blur(2rem);
			background-color: #0005;
		}

		.letter-container {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: center;
			gap: 0.5em;
			font-size: 2rem;
			font-weight: $font-weight-bold;
			color: $white;

			.hangman-letter {
				display: inline-block;
				width: 1.5em;
				line-height: 1.5em;
				background-color: #0006;
				border-bottom: 0.4rem solid black;
				text-align: center;
				text-transform: uppercase;
				transition: border-color 0.3s ease-in-out;

				&.solved {
					border-color: $success;
				}

				&.missing {
					border-color: $error;
				}
			}
		}
	}

	.game-wheel-player {
		display: inline-block;
		transform: translate(-50%, -50%);
		position: absolute;
		transition: top 20ms linear, left 20ms linear;
		box-shadow: 0 0 1rem #000;
	}
}
