.popup {
  position: absolute;
  padding: 1rem;
  border: 1px solid $backgroundLight;
  background-color: $backgroundDark;
  z-index: 99999;

  .popup-close {
    background-color: $backgroundDark;
    border: 1px solid $backgroundLight;
    border-bottom: none;
    width: 1.5rem;
    height: 1.5rem;
    position: absolute;
    right: -1px;
    bottom: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
}